2023/Semester 2/Cloud Computing/VisualStudioCode/BloggingServices/BlogConsoleClient/Connected Services/ServiceReference1/blogging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/blogging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/blogging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPost" nillable="true" type="tns:ArrayOfPost" />
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatePosted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="Blog">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Posts" nillable="true" type="tns:ArrayOfPost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Blog" nillable="true" type="tns:Blog" />
  <xs:complexType name="ArrayOfBlog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Blog" nillable="true" type="tns:Blog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlog" nillable="true" type="tns:ArrayOfBlog" />
</xs:schema>