2023/Semester 2/Cloud Computing/VisualStudioCode/BloggingServices/BlogConsoleClient/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/blogging" />
  <xs:element name="GetAllPostsForBlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blogName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPostsForBlogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/blogging" minOccurs="0" name="GetAllPostsForBlogResult" nillable="true" type="q1:ArrayOfPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostToBlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blogName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/blogging" minOccurs="0" name="postings" nillable="true" type="q2:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostToBlogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AdddNewBlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/blogging" minOccurs="0" name="thisblog" nillable="true" type="q3:Blog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdddNewBlogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBlogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBlogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/blogging" minOccurs="0" name="GetAllBlogsResult" nillable="true" type="q4:ArrayOfBlog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>