2023/Semester 2/Cloud Computing/Enrolment System App/Connected Services/EnrollmentSystem/EnrollmentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61770/EnrollmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Enrolment_System" />
  <xs:element name="addStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="studentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enrollmentDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addStudentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Enrolment_System" minOccurs="0" name="getAllStudentsResult" nillable="true" type="q1:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewStudentEnrollents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewStudentEnrollentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Enrolment_System" minOccurs="0" name="viewStudentEnrollentsResult" nillable="true" type="q2:ArrayOfEnrollment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Enrolment_System" minOccurs="0" name="getStudentDetailsResult" nillable="true" type="q3:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Enrolment_System" minOccurs="0" name="getAllCoursesResult" nillable="true" type="q4:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewCourseEnrollents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewCourseEnrollentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Enrolment_System" minOccurs="0" name="viewCourseEnrollentsResult" nillable="true" type="q5:ArrayOfEnrollment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCostResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Enrolment_System" minOccurs="0" name="getCourseListResult" nillable="true" type="q6:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cost" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCourseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Enrolment_System" minOccurs="0" name="getCourseDetailsResult" nillable="true" type="q7:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnrollments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnrollmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Enrolment_System" minOccurs="0" name="getEnrollmentsResult" nillable="true" type="q8:ArrayOfEnrollment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEnrolment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEnrolmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEnrolmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>